<div id="<%= @subject_id %>" class="container subject">
  <% @chunks.each do |c| %>
  <div id="<%= c.id %>" class="well text-center">
    <h3><%= c.question %></h3>
    <p class="test-answer hidden"><%= c.answer %></p>
    <button class="test-btn-answer btn btn-primary btn-lg">Show Answer</button>
    <button class="test-btn-correct btn btn-success btn-lg hidden">Correct</button>
    <button class="test-btn-incorrect btn btn-default btn-lg hidden">Not Correct</button>
  </div>
  <% end %>
</div>
